<% provide(:title, 'All users') %>
<h1> All Users </h1>

<%= will_paginate %>

<ul class="users">
  <!-- refactored code into a partial _user.html.erb -->
    <%= render @users %>
</ul>

<%= will_paginate %>
