<% provide(:title, @user.name) %>
<h1>
  <!-- creates a user icon and displays a name with it inside a heading ,
  refer to gravatar docs for more info-->
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
